<header>
  <div class="header-text">
    <div class="header-title">
      <p>ログイン</p>
    </div>
  </div>
</header>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <p>メールアドレス </p>
      <div class="field-textbox">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
  </div>

  <div class="field">
    <p>パスワード </p>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <div class="button_solid004">
      <a href="#"><%= f.submit "ログイン" %></a>
    </div>
  </div>
<% end %>

<div class="link">
  <%= render "users/shared/links" %>
</div>

<footer-1>
  <small>© 2023/2/23 manamori</small>
</footer-1>