<!DOCTYPE html> <!--  この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"><!--言語の指定-->
    <head><!--ページに表示されない情報(サイトの裏側の設定)-->
        <meta charset="utf-8">
        <title>香水診断スタート</title><!--ブラウザのタブのタイトルを指定-->
    </head>

    <body>
        <header>
            <h1 class="headline">
            <a>なかまはずれ</a>
            </h1>
            <h4>ここでは、なかまはずれを見つけるクイズにチャレンジできるよ！</h4>
            <h4>１つだけ種るいがちがうものがあるから見つけてね。</4>
            <h6>参考:<%= link_to '幼女の論理クイズ', "https://sist8.com/category/logical" %></h6>
        </header>
    </body>

<%= form_for(@nakama, class: 'form-horizontal', role: 'form') do |f| %>
    <div class="container-sindan">
        <div class="row">
            <div class="col-12">
                <p>問題1</p>
                <p>なかまはずれは左から何番目の図形でしょう？</p>
                <p>画像の中から、なかまはずれを1つだけ見つけてね</p>
                <img src="<%= asset_path('nakama1.jpeg') %>"/>
            </div>

            <div class="form_item">
            <%= f.radio_button :question, :不正解1 %>
            <label class="form_item_label" for="user_favorite_food_id">1番目</label>
            <%= f.radio_button :question, :不正解1 %>
            <label class="form_item_label" for="user_favorite_food_id">2番目</label>
            <%= f.radio_button :question, :正解 %>
            <label class="form_item_label" for="user_favorite_food_id">3番目</label>
            </div>

            <div class="sindanbotan">
            <%= f.submit "決定" %>
            </div>

            <div class="col-12">
            <p>問題2</p>
            <p>なかまはずれは左から何番目の図形でしょう？</p>
            <p>なかまはずれを1つだけ見つけてね</p>
            <img src="<%= asset_path ('nakama2.jpeg') %>"/>
            </div>

            <div class="form_item">
            <%= f.radio_button :question, :正解 %>
            <label class="form_item_label" for="user_favorite_food_id">1番目</label>
            <%= f.radio_button :question, :不正解2 %>
            <label class="form_item_label" for="user_favorite_food_id">2番目</label>
            <%= f.radio_button :question, :不正解2 %>
            <label class="form_item_label" for="user_favorite_food_id">3番目</label>
            </div>

            <div class="sindanbotan">
            <%= f.submit "決定" %>
            </div>

            <div class="col-12">
            <p>問題3</p>
            <p>なかまはずれはどれでしょう？</p>
            <p>なかまはずれを1つだけ見つけてね</p>
            </div>

            <div class="form_item">
            <%= f.radio_button :question, :不正解3 %>
            <label class="form_item_label" for="user_favorite_food_id">天使</label>
            <%= f.radio_button :question, :不正解3 %>
            <label class="form_item_label" for="user_favorite_food_id">あくま</label>
            <%= f.radio_button :question, :正解 %>
            <label class="form_item_label" for="user_favorite_food_id">村人</label>
            </div>

            <div class="sindanbotan">
            <%= f.submit "決定" %>
            </div>

            <div class="col-12">
            <p>問題4</p>
            <p>なかまはずれはどれでしょう？</p>
            <p>なかまはずれを1つだけ見つけてね</p>
            </div>

            <div class="form_item">
            <%= f.radio_button :question, :不正解4 %>
            <label class="form_item_label" for="user_favorite_food_id">天使</label>
            <%= f.radio_button :question, :不正解4 %>
            <label class="form_item_label" for="user_favorite_food_id">あくま</label>
            <%= f.radio_button :question, :正解 %>
            <label class="form_item_label" for="user_favorite_food_id">村人</label>
            </div>

            <div class="sindanbotan">
            <%= f.submit "決定" %>
            </div>

            <div class="col-12">
            <p>問題5</p>
            <p>なかまはずれはどれでしょう？</p>
            <p>なかまはずれを1つだけ見つけてね</p>
            </div>

            <div class="form_item">
            <%= f.radio_button :question, :不正解5 %>
            <label class="form_item_label" for="user_favorite_food_id">天使</label>
            <%= f.radio_button :question, :不正解5 %>
            <label class="form_item_label" for="user_favorite_food_id">あくま</label>
            <%= f.radio_button :question, :正解 %>
            <label class="form_item_label" for="user_favorite_food_id">村人</label>
            </div>

            <div class="sindanbotan">
            <%= f.submit "決定" %>
            </div>

            <div class="col-12">
            <p>問題6</p>
            <p>なかまはずれはどれでしょう？</p>
            <p>なかまはずれを1つだけ見つけてね</p>
            </div>

            <div class="form_item">
            <%= f.radio_button :question, :不正解6 %>
            <label class="form_item_label" for="user_favorite_food_id">天使</label>
            <%= f.radio_button :question, :不正解6 %>
            <label class="form_item_label" for="user_favorite_food_id">あくま</label>
            <%= f.radio_button :question, :正解 %>
            <label class="form_item_label" for="user_favorite_food_id">村人</label>
            </div>

            <div class="sindanbotan">
            <%= f.submit "決定" %>
            </div>

            <div class="col-12">
            <p>問題7</p>
            <p>なかまはずれはどれでしょう？</p>
            <p>なかまはずれを1つだけ見つけてね</p>
            </div>

            <div class="form_item">
            <%= f.radio_button :question, :不正解7 %>
            <label class="form_item_label" for="user_favorite_food_id">天使</label>
            <%= f.radio_button :question, :不正解7 %>
            <label class="form_item_label" for="user_favorite_food_id">あくま</label>
            <%= f.radio_button :question, :正解 %>
            <label class="form_item_label" for="user_favorite_food_id">村人</label>
            </div>

            <div class="sindanbotan">
            <%= f.submit "決定" %>
            </div>

            <div class="col-12">
            <p>問題8</p>
            <p>なかまはずれはどれでしょう？</p>
            <p>なかまはずれを1つだけ見つけてね</p>
            </div>

            <div class="form_item">
            <%= f.radio_button :question, :不正解8 %>
            <label class="form_item_label" for="user_favorite_food_id">天使</label>
            <%= f.radio_button :question, :不正解8 %>
            <label class="form_item_label" for="user_favorite_food_id">あくま</label>
            <%= f.radio_button :question, :正解 %>
            <label class="form_item_label" for="user_favorite_food_id">村人</label>
            </div>

            <div class="sindanbotan">
            <%= f.submit "決定" %>
            </div>

            <div class="col-12">
            <p>問題9</p>
            <p>なかまはずれはどれでしょう？</p>
            <p>なかまはずれを1つだけ見つけてね</p>
            </div>

            <div class="form_item">
            <%= f.radio_button :question, :不正解9 %>
            <label class="form_item_label" for="user_favorite_food_id">天使</label>
            <%= f.radio_button :question, :不正解9 %>
            <label class="form_item_label" for="user_favorite_food_id">あくま</label>
            <%= f.radio_button :question, :正解 %>
            <label class="form_item_label" for="user_favorite_food_id">村人</label>
            </div>

            <div class="sindanbotan">
            <%= f.submit "決定" %>
            </div>

            <div class="col-12">
            <p>問題10</p>
            <p>なかまはずれは左から何番目の図形でしょう？</p>
            <p>なかまはずれを1つだけ見つけてね</p>
            <img src="<%= image_tag 'nakama10.jpeg' %>"/>
            </div>

            <div class="form_item">
            <%= f.radio_button :question, :不正解10 %>
            <label class="form_item_label" for="user_favorite_food_id">1番目</label>
            <%= f.radio_button :question, :不正解10 %>
            <label class="form_item_label" for="user_favorite_food_id">2番目</label>
            <%= f.radio_button :question, :正解 %>
            <label class="form_item_label" for="user_favorite_food_id">3番目</label>
            <%= f.radio_button :question, :不正解10 %>
            <label class="form_item_label" for="user_favorite_food_id">4番目</label>
            <%= f.radio_button :question, :不正解10 %>
            <label class="form_item_label" for="user_favorite_food_id">5番目</label>
            </div>

            <div class="sindanbotan">
            <%= f.submit "決定" %>
            </div>

        </div>
    </div>

<h3>なかまはずれを見つけるクイズを最後まで解いてくれてありがとう！</h3>
<h3>頭をたくさん使ったから、つかれたね~</h3>
<h3>お休みしたら、マイページに行って他の問題にも挑戦してみてね</h3>

<%= link_to "マイページへ", user_path(current_user.id) %>
<% end %>