<!DOCTYPE html> <!--  この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"><!--言語の指定-->
    <head><!--ページに表示されない情報(サイトの裏側の設定)-->
        <meta charset="utf-8">
        <title>香水診断スタート</title><!--ブラウザのタブのタイトルを指定-->
    </head>

    <body>
        <header>
          <div class="header-text">
            <div class="header-title">
              <a>なかまはずれ</a>
            </div>
          </div>
        </header>
    </body>
    <h3>ここでは、なかまはずれを見つけるクイズにチャレンジできるよ！</h3>
    <h3>１つだけ種るいがちがうものがあるから見つけてね。</3>
    <h6>参考:<%= link_to '幼女の論理クイズ', "https://sist8.com/category/logical" %></h6></br>

<%= form_for(@nakama, class: 'form-horizontal', role: 'form') do |f| %>
    <div class="container-sindan">
        <div class="row">
            <div class="col-12">
                <h4>問題1</h4>
                <p>なかまはずれは左から何番目の図形でしょう？</p>
                <p>画像の中から、なかまはずれを1つだけ見つけてね</p>
                <img src='<%= asset_path('nakama1.jpeg') %>'width="30%"/>
            </div>

            <div class="form_item">
            <%= f.radio_button :question, :不正解1 %>
            <label class="form_item_label" for="user_favorite_food_id">1番目</label>
            <%= f.radio_button :question, :不正解1 %>
            <label class="form_item_label" for="user_favorite_food_id">2番目</label>
            <%= f.radio_button :question, :正解 %>
            <label class="form_item_label" for="user_favorite_food_id">3番目</label>
            </div>

            <div class="sindanbotan">
            <%= f.submit "決定" %>
            </div></br>

            <div class="col-12">
                <h4>問題2</h4>
                <p>なかまはずれは左から何番目の図形でしょう？</p>
                <p>なかまはずれを1つだけ見つけてね</p>
                <img src='<%= asset_path ('nakama2.jpeg') %>'width="30%"/>
            </div>

            <div class="form_item">
            <%= f.radio_button :question, :正解 %>
            <label class="form_item_label" for="user_favorite_food_id">1番目</label>
            <%= f.radio_button :question, :不正解2 %>
            <label class="form_item_label" for="user_favorite_food_id">2番目</label>
            <%= f.radio_button :question, :不正解2 %>
            <label class="form_item_label" for="user_favorite_food_id">3番目</label>
            </div>

            <div class="sindanbotan">
            <%= f.submit "決定" %>
            </div></br>

            <div class="col-12">
                <h4>問題3</h4>
                <p>なかまはずれは左から何番目の図形でしょう？</p>
                <p>なかまはずれを1つだけ見つけてね</p>
                <img src='<%= asset_path ('nakama3.jpeg') %>'width="30%"/>
            </div>

            <div class="form_item">
            <%= f.radio_button :question, :不正解3 %>
            <label class="form_item_label" for="user_favorite_food_id">1番目</label>
            <%= f.radio_button :question, :正解 %>
            <label class="form_item_label" for="user_favorite_food_id">2番目</label>
            <%= f.radio_button :question, :不正解3 %>
            <label class="form_item_label" for="user_favorite_food_id">3番目</label>
            </div>

            <div class="sindanbotan">
            <%= f.submit "決定" %>
            </div></br>

            <div class="col-12">
                <h4>問題4</h4>
                <p>なかまはずれは左から何番目の図形でしょう？</p>
                <p>なかまはずれを1つだけ見つけてね</p>
                <img src='<%= asset_path ('nakama4.jpeg') %>'width="30%"/>
            </div></br>

            <div class="form_item">
            <%= f.radio_button :question, :不正解4 %>
            <label class="form_item_label" for="user_favorite_food_id">1番目</label>
            <%= f.radio_button :question, :不正解4 %>
            <label class="form_item_label" for="user_favorite_food_id">2番目</label>
            <%= f.radio_button :question, :不正解4 %>
            <label class="form_item_label" for="user_favorite_food_id">3番目</label>
            <%= f.radio_button :question, :不正解4 %>
            <label class="form_item_label" for="user_favorite_food_id">4番目</label>
            <%= f.radio_button :question, :正解 %>
            <label class="form_item_label" for="user_favorite_food_id">5番目</label>
            </div>

            <div class="sindanbotan">
            <%= f.submit "決定" %>
            </div></br>

            <div class="col-12">
                <h4>問題5</h4>
                <p>なかまはずれはどれでしょう？</p>
                <p>なかまはずれを1つだけ見つけてね</p></br>
                <p>バスケットボール, はい球, レスリング, たっ球</p></br>
            </div>

            <div class="form_item">
            <%= f.radio_button :question, :不正解5 %>
            <label class="form_item_label" for="user_favorite_food_id">バスケットボール</label>
            <%= f.radio_button :question, :不正解5 %>
            <label class="form_item_label" for="user_favorite_food_id">はい球</label>
            <%= f.radio_button :question, :正解5 %>
            <label class="form_item_label" for="user_favorite_food_id">レスリング</label>
            <%= f.radio_button :question, :不正解5 %>
            <label class="form_item_label" for="user_favorite_food_id">たっ球</label>
            </div>

            <div class="sindanbotan">
            <%= f.submit "決定" %>
            </div></br>

            <div class="col-12">
                <h4>問題6</h4>
                <p>なかまはずれはどれでしょう？</p>
                <p>なかまはずれを1つだけ見つけてね</p></br>
                <p>ヒイラギ, ひまわり, ユリ, バラ</p></br>
            </div>

            <div class="form_item">
            <%= f.radio_button :question, :正解6 %>
            <label class="form_item_label" for="user_favorite_food_id">ヒイラギ</label>
            <%= f.radio_button :question, :不正解6 %>
            <label class="form_item_label" for="user_favorite_food_id">ひまわり</label>
            <%= f.radio_button :question, :不正解6 %>
            <label class="form_item_label" for="user_favorite_food_id">ユリ</label>
            <%= f.radio_button :question, :不正解6 %>
            <label class="form_item_label" for="user_favorite_food_id">バラ</label>
            </div>

            <div class="sindanbotan">
            <%= f.submit "決定" %>
            </div></br>

            <div class="col-12">
                 <h4>問題7</h4>
                 <p>なかまはずれはどれでしょう？</p>
                 <p>なかまはずれを1つだけ見つけてね</p></br>
                 <p>自動車, 飛行機, トラッカー, バス</p></br>
            </div>

            <div class="form_item">
            <%= f.radio_button :question, :不正解7 %>
            <label class="form_item_label" for="user_favorite_food_id">自動車</label>
            <%= f.radio_button :question, :正解7 %>
            <label class="form_item_label" for="user_favorite_food_id">飛行機</label>
            <%= f.radio_button :question, :不正解7 %>
            <label class="form_item_label" for="user_favorite_food_id">トラッカー</label>
            <%= f.radio_button :question, :不正解7 %>
            <label class="form_item_label" for="user_favorite_food_id">バス</label>
            </div>

            <div class="sindanbotan">
            <%= f.submit "決定" %>
            </div></br>

            <div class="col-12">
                <h4>問題8</h4>
                <p>なかまはずれはどれでしょう？</p>
                <p>なかまはずれを1つだけ見つけてね</p></br>
                <p>東京ディズニーランド, 東京タワー, 東京駅, 東京六本木ヒルズ</p></br>
                <p>ヒント：場所に注目してみよう！</p>
            </div>

            <div class="form_item">
            <%= f.radio_button :question, :正解8 %>
            <label class="form_item_label" for="user_favorite_food_id">東京ディズニーランド</label>
            <%= f.radio_button :question, :不正解8 %>
            <label class="form_item_label" for="user_favorite_food_id">東京タワー</label>
            <%= f.radio_button :question, :不正解8 %>
            <label class="form_item_label" for="user_favorite_food_id">東京駅</label>
            <%= f.radio_button :question, :不正解8 %>
            <label class="form_item_label" for="user_favorite_food_id">東京六本木ヒルズ</label>
            </div>

            <div class="sindanbotan">
            <%= f.submit "決定" %>
            </div></br>

            <div class="col-12">
                <h4>問題9</h4>
                <p>なかまはずれはどれでしょう？</p>
                <p>なかまはずれを1つだけ見つけてね</p></br>
                <p>たこやき, うどん, パンケーキ, おもち, クレープ</p></br>
                <p>ヒント：材料に注目してみよう！</p>
            </div>

            <div class="form_item">
            <%= f.radio_button :question, :不正解9 %>
            <label class="form_item_label" for="user_favorite_food_id">たこやき</label>
            <%= f.radio_button :question, :不正解9 %>
            <label class="form_item_label" for="user_favorite_food_id">うどん</label>
            <%= f.radio_button :question, :不正解9 %>
            <label class="form_item_label" for="user_favorite_food_id">パンケーキ</label>
            <%= f.radio_button :question, :正解9 %>
            <label class="form_item_label" for="user_favorite_food_id">おもち</label>
            <%= f.radio_button :question, :不正解9 %>
            <label class="form_item_label" for="user_favorite_food_id">クレープ</label>
            </div>

            <div class="sindanbotan">
            <%= f.submit "決定" %>
            </div></br>

            <div class="col-12">
                <h4>問題10</h4>
                <p>なかまはずれは左から何番目の図形でしょう？</p>
                <p>なかまはずれを1つだけ見つけてね</p>
                <p>ヒント：1つ1つ図形を整理してみよう！</p>
                <img src='<%= asset_path('nakama10.jpeg') %>'width="40%"/>
            </div>

            <div class="form_item">
            <%= f.radio_button :question, :不正解10 %>
            <label class="form_item_label" for="user_favorite_food_id">1番目</label>
            <%= f.radio_button :question, :不正解10 %>
            <label class="form_item_label" for="user_favorite_food_id">2番目</label>
            <%= f.radio_button :question, :正解 %>
            <label class="form_item_label" for="user_favorite_food_id">3番目</label>
            <%= f.radio_button :question, :不正解10 %>
            <label class="form_item_label" for="user_favorite_food_id">4番目</label>
            <%= f.radio_button :question, :不正解10 %>
            <label class="form_item_label" for="user_favorite_food_id">5番目</label>
            </div>

            <div class="sindanbotan">
            <%= f.submit "決定" %>
            </div></br>

        </div>
    </div>
<% end %>

<div class="back">
  <%= link_to "マイページへ", user_path(current_user.id) %>
</div>

<footer-4>
  <small>© 2023/2/23 manamori</small>
</footer-4>