<!DOCTYPE html> <!--  この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"><!--言語の指定-->
    <head><!--ページに表示されない情報(サイトの裏側の設定)-->
        <meta charset="utf-8">
        <title>香水診断スタート</title><!--ブラウザのタブのタイトルを指定-->
    </head>

    <body>
        <header>
          <div class="header-text">
            <div class="header-title">
              <p>道順</p>
            </div>
          </div>
        </header>
    </body>
    <h3>ここでは、正しい道順を見つけて花をさかせよう！</h3>
    <h3>ただし、すべての▢を通らないといけません。</h3>
    <h3>ななめには進めないよ。</h3></br>

<%= form_for(@road, class: 'form-horizontal', role: 'form') do |f| %>
    <div class="container-sindan">
        <div class="row">
            <div class="col-12">
                <h4>問題1</h4>
                <p>スタートからじょうろを持って花をさかせるよ。</p>
                <p>スタートからどの方向にいけば、花をさかせてゴールに着けるかな?</p>
                <p>同じ道は1回しか通れないよ。</p>
                <img src='<%= asset_path('road1.jpeg') %>'width="30%"/ >
            </div>

            <div class="form_item">
            <%= f.radio_button :question, :不正解1 %>
            <label class="form_item_label" for="user_favorite_food_id">→</label>
            <%= f.radio_button :question, :正解 %>
            <label class="form_item_label" for="user_favorite_food_id">↓</label>
            </div>

            <div class="sindanbotan">
            <%= f.submit "決定" %>
            </div></br>

            <div class="col-12">
               <h4>問題2</h4>
               <p>スタートからじょうろを持って花をさかせるよ。</p>
               <p>どの方向にいけば、花をさかせてゴールに着けるかな?</p>
               <p>同じ道は1回しか通れないよ。</p>
               <img src='<%= asset_path('road2.jpeg') %>'width="30%"/>
            </div>

            <div class="form_item">
            <%= f.radio_button :question, :不正解2 %>
            <label class="form_item_label" for="user_favorite_food_id">←</label>
            <%= f.radio_button :question, :不正解2 %>
            <label class="form_item_label" for="user_favorite_food_id">↑</label>
            <%= f.radio_button :question, :正解 %>
            <label class="form_item_label" for="user_favorite_food_id">↓</label>
            </div>

            <div class="sindanbotan">
            <%= f.submit "決定" %>
            </div></br>

            <div class="col-12">
                <h4>問題3</h4>
                <p>スタートからじょうろを持って花をさかせるよ。</p>
                <p>どの方向にいけば、花をさかせてゴールに着けるかな?</p>
                <p>同じ道は1回しか通れないよ。</p>
                <img src='<%= asset_path('road3.jpeg') %>'width="30%"/>
            </div>

            <div class="form_item">
            <%= f.radio_button :question, :不正解3 %>
            <label class="form_item_label" for="user_favorite_food_id">↑</label>
            <%= f.radio_button :question, :不正解3 %>
            <label class="form_item_label" for="user_favorite_food_id">→</label>
            <%= f.radio_button :question, :正解 %>
            <label class="form_item_label" for="user_favorite_food_id">↓</label>
            <%= f.radio_button :question, :不正解3 %>
            <label class="form_item_label" for="user_favorite_food_id">←</label>
            </div>

            <div class="sindanbotan">
            <%= f.submit "決定" %>
            </div></br>

            <div class="col-12">
                <h4>問題4</h4>
                <p>スタートからじょうろを持って花をさかせるよ。</p>
                <p>どの方向にいけば、花をさかせてゴールに着けるかな?</p>
                <p>同じ道は1回しか通れないよ。</p>
                <img src='<%= asset_path('road4.jpeg') %>'width="30%"/>
            </div>

            <div class="form_item">
            <%= f.radio_button :question, :不正解4 %>
            <label class="form_item_label" for="user_favorite_food_id">↑</label>
            <%= f.radio_button :question, :不正解4 %>
            <label class="form_item_label" for="user_favorite_food_id">→</label>
            <%= f.radio_button :question, :正解 %>
            <label class="form_item_label" for="user_favorite_food_id">↓</label>
            <%= f.radio_button :question, :不正解4 %>
            <label class="form_item_label" for="user_favorite_food_id">←</label>
            </div>

            <div class="sindanbotan">
            <%= f.submit "決定" %>
            </div></br>

        </div>
    </div>

<% end %>

<div class="back">
  <%= link_to "マイページへ", user_path(current_user.id) %>
</div>

<footer-5>
  <small>© 2023/2/23 manamori</small>
</footer-5>