<header>
  <div class="header-text">
    <div class="header-title">
      <p>へんしゅう画面</p>
    </div>
  </div>
</header>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :お名前 %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :プロフィール %><br />
    <%= f.text_area :profile, autofocus: true %>
  </div>


  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :パスワード %> <i>(パスワードを変えない場合は空らんにしてね)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em>最低<%= @minimum_password_length %> 文字で入力してね</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :もう一度パスワードを入力してね %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :現在使っているパスワードを入力してね %> <i>※必ず記入</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <div class="button_solid004">
      <a href="#"><%= f.submit "更新" %></a>
    </div>
  </div>
<% end %>

<div class="link">
  <%= link_to "マイページに戻る", :back %>
</div>

<footer-1>
  <small>© 2023/2/23 manamori</small>
</footer-1>
